body {
  font-size: 30px;
  overflow: hidden;
  width: 100%;
  background-color: white;
  color: black;
  animation: SlideIn 2s ;
}
.bodyfadeout {
    opacity: 0;
}

let body = document.getElementsByTagName('body')[0];

function fadeOut() {
    body.classList.add('bodyfadeout');
}

function linkUrl() {
    location.href = 'file:////login/login.jsp'
}
#canvas {
overflow: hidden;
position: absolute;
top: 50px;
left: -250px;
z-index: 1;
}
.button {
	z-index: 2;
	position:absolute;
	left:45%;
	top:45%;
 display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 50px 50px;   /* 余白       */
  background    : #000000;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000000;    /* 枠の指定 */
}
/* CSSアニメーションの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
  }
  100% {
    opacity: 1;
  }
}
.button1 {
  animation: blinkAnime 0.7s infinite alternate;
  	z-index: 3;
	position:absolute;
	left:55%;
	top:50%;
}
.button2 {
  animation: blinkAnime 0.7s infinite alternate;
  	z-index: 3;
	position:absolute;
	left:55%;
	top:60%;
}
.button3 {
  animation: blinkAnime 0.7s infinite alternate;
  	z-index: 3;
	position:absolute;
	left:55%;
	top:40%;
}
.button4 {
  animation: blinkAnime 0.7s infinite alternate;
  	z-index: 3;
	position:absolute;
	left:55%;
	top:70%;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: rgba(0, 0, 0, 0.10) }
}
#kakuto {
	font-size: 20px;
	color: #2F4F4F;
	position:absolute;
	left:45%;
	top: 90%;
}
#login {
	color: #2F4F4F;
	position:absolute;
	left: 40%;
	top: 10%;
}